@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* RESET CSS */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: 'Poppins', sans-serif;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}


/* CSS VARIABLES  */

:root {
    --happy-orange: #f4c531;

}


body {
    background-color: var(--happy-orange);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

body h3 {
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 400px;
    gap: 1rem;
}

.grid img {
    max-width: 200px;
}
