@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

/*  --------------

RESET 

-------------- */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

}

:root {
    
    /* Primary */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /* Neutral */
    --dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

}


html, body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: var(--cream);

}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}


/*  --------------

TIPOGRAPHY

-------------- */


h2, p, .price-descount {
    color: var(--dark-grayish-blue);
    font-size: 14px;
}


h1, .price {
    font-family: 'Fraunces', sans-serif;
}

h1 {
    font-size: 35px;
    color: var(--dark-blue);
    font-weight: 700;
    
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.price {
    font-size: 35px;
    color: var(--dark-cyan);  
}

.price-descount {
    text-decoration: line-through;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}


/*  --------------

CARD 

-------------- */

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 650px;

    background-color: var(--white);
    border-radius: 1rem;
}

.card__price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

@media (max-width: 680px) {

    .card {
        grid-template-columns: 1fr;
    }

    /* edit images for responsive design on mobile devices */
    .card__img--desktop {
        display: none;
    }

    .card__img--mobile {
        display: block;

        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

}

/*  --------------

CARD ITEMS

-------------- */

@media (min-width: 681px) {

    /* edit images for responsive design on desktop*/
    .card__img--mobile {
        display: none;
    }

    .card__img--desktop {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

}

.card__content {
    padding: 2rem;
}

.card__content p {
    line-height: 1.5rem;
}



/*  --------------

BUTTONS 

-------------- */

.card__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    gap: 1rem;
    
    background-color: var(--dark-cyan);
    cursor: pointer;

    width: 250px;
    border: 1px solid var(--dark-cyan);
    border-radius: 0.5rem;
}

.card__btn span {
    font-weight: 700;
    color: var(--white);
}

.card__btn:hover {
    background-color: var(--dark-blue);
}